# Created by .ignore support plugin (hsz.mobi)
/advancedResponsiveLayouts.iml
/advancedResponsiveLayouts.ipr
Ex_Files_CSS_Flexbox_Layouts.zip
Ex_Files_CSS_Flexbox_Layouts/
advancedResponsiveLayouts.iml
advancedResponsiveLayouts.ipr
advancedResponsiveLayouts.iws
